.section-student,.section-counsellor,.section-school{
    margin: 50px;
    border-radius: 40px;
    padding: 30px;

    background: linear-gradient(90deg, rgba(35,128,250,1) 3%, rgba(77,170,255,1) 38%, rgba(30,216,233,1) 80%);
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
    font-family: 'Poppins',sans-serif;
}