{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="download.png"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/utils.css' %}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/9e15e3d08a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>AnonyMATE</title>
</head>
<body>
  <!-- Navbar -->
<nav id="navbar">
  <div class="container">
      <div class="logo"><img src="logo and favicon/logo.jpeg" alt="" style="height: 120px; width: 120px; margin-bottom: -100px;"></div>
      <ul>
          <li><a href="landing page.html" style="text-decoration: none;">Home</a></li>
           <li><a href="{% url 'guide' %}" style="text-decoration: none;">Guide</a></li>
          <li><a href="{% url 'chatting' %}"style="text-decoration: none;">Chat</a></li>
          <li><a href="{% url 'Faq' %}" style="text-decoration: none;">Faq</a></li>
          <li><a href="{% url 'register' %}" style="text-decoration: none;">Register</a></li>
          <li><a href="{% url 'login' %}" style="text-decoration: none;">Sign In/Sign Up</a></li>
      </ul>

  </div>
  </nav>
  <!-- Carousel -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="logo and favicon/female-social-worker-talking-teenage-girl_116407-5483.jpg" class="d-block w-100" alt="..." style="height: 750px;" >
            <div class="carousel-caption d-none d-md-block">
              <h1 class="quote">"If there is any one secret of success, it lies in the ability to get the other person’s point of view and see things from that person’s angle as well as from your own."</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="logo and favicon/young-female-psychologist-working-with-teenager-boy-office_392895-6225.jpg" class="d-block w-100" alt="..." style="height: 750px;">
            <div class="carousel-caption d-none d-md-block">
              <h1  class="quote">“Courage doesn’t happen when you have all the answers. It happens when you are ready to face the questions you have been avoiding your whole life.”</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="logo and favicon/teen_1.jpg" class="d-block w-100" alt="..." style="height: 750px;">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="quote">Our greatest glory is not in never falling, but in rising every time we fall.</h1>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        <!-- About US -->
    <div class="aboutus">
      <img src="logo and favicon/—Pngtree—girls learn at the study_5374335.png" class="img-fluid" alt="..."">
      <div class="rpart"> <h1>What We Do</h1>
       <p>Annonymate is the easy to use safe space that gives you confidential support of your qualified and experienced school counsellor when you need them.A counsellor will help you share your emotions,analyse your feelings and make sense of the thoughts that trigger them.They listen to you intently and help you excel personally and proffesionally.With guidance and practice tools,you will feel happier,stronger and grow at every step.</p>
     </div>
   </div>
   <!-- We Help With -->
   <div class="aboutus1">
     <img src="logo and favicon/—Pngtree—mental health business illustration_5414689.png" style="height: 300px; margin-top: 30px; margin-right: 30px;" class="img-fluid" alt="...">
     <div class="lpart"> <h1>We Help With</h1>
      <p style="margin-left: 0px; margin-right: 330px;">Anonymate is a Counselling platform specially built<br>for school students that helps students excel in their<br>life by dealing with day to day life stresses stemming<br> from Relationships, Stress, Low Confidence, Anxiety,<br> etc over live chat and face to face interaction with<br> their school counsellor who is well acquainted with<br> all the school related problems and knows how to<br> tackle mental issues. They can freely communicate<br> with the counsellor without worrying about their<br> confidentiality</p>
    </div>
  </div>
  <!-- Thrive -->
  <div class="aboutus">
    <img src="logo and favicon/Pngtreehappy_boys_vector_illustration_smiling_5435921.png" class="img-fluid" alt="...">
   <div class="rpart"> <h1>Thrive</h1>
    <p>Students tackle with self-doubts and fear of failure from time to time. Counselling will help you to tame your inner critic and break patterns of self-defeating thoughts and limiting beliefs.We at anonyMate aim to solve all the problems faced by them by providing student a platform where they can easily register and communicate with their school counsellor without worrying about their confidentiality.</p>
  </div>
 </div>

 <img src="" class="img-fluid" alt="...">
     <!-- FOOTER -->
 <footer class="footer">
  <div class="social">
    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</footer>


 </body>
 </html>
</body>
</html>